button {
  	background-color: #262323;
  	border: 3px solid #EDE9E9;
  	color: #EDE9E9;
  	padding: 5px 10px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 11px;
  	border-radius: 8px;
  	box-shadow: 2px 3px 7px;
  	opacity: 0.7;
  	transition: 0.2s;
}
button:active {
	transform: translateY(3px);
	box-shadow: 1px 1px 7px;
}
button:hover {
	opacity:1;
}
body {
	background-color : #3C3535;
	color : #EDE9E9;
	font-size : 15px;
	font-family: monospace;
	}
	n {
	font-size : 17px;
	font-family: fantasy;
}
code {
	position: absolute;
	bottom:1%;
	right: 1%;
	color: #3C3535;
}

@keyframes winning {
	from {scale: 100%;}
	to {scale: 120%}
}

button.win:hover{
	animation-name: winning;
	animation-duration: 1s;
	scale: 120%;
}
a{
	color: #ffffff;
	position: absolute;
	bottom: 0;
}